.categories{
    height: 80px;
    width: calc(100vw - 300px);
    background-color: rgb(44, 44, 44);
    border-top: rgb(112, 112, 112) 1px solid;
    border-bottom: rgb(112, 112, 112) 1px solid;
    overflow: hidden;
}

.categories-container{
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.categories-container::-webkit-scrollbar{
    display: none;
}

.categories-container > div{
    flex: 0 0 auto;
    background-color: rgb(70, 70, 70);
    color: rgb(218, 218, 218);
    padding: 5px 17px;
    font-family: Bunaepro;
    font-size: 17px;
    border-radius: 20px;
    margin: 0 8px;
    border: rgb(112, 112, 112) 1px solid;
}

.categories-container > div:hover{
    cursor: pointer;
    background-color: rgb(94, 94, 94);
}

.categories-container span{
    white-space: nowrap;
}

@media all and (max-width: 1200px) {
    .categories{
        width: calc(100vw - 100px);
    }
}