.footer{
    border-top: rgb(116, 116, 116) 1px solid;
    color: rgb(189, 189, 189);
    height: 45px;
    margin-top: 15px;
}

.footer-text{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    font-family: Bunaepro;
    font-size: 20px;
}