* {
    box-sizing: border-box;
}

@font-face {
    font-family: Bunaepro;
    src: url('Fonts/BunaeroProBoldUp.otf');
}

body{
    margin: 0;
}

.user-layout{
    display: flex;
    height: calc(100vh - 70px);
    position:relative;
}

.user-layout-content{
    width: 100%;
    background-color: rgb(30, 30, 30);
}

.main-container{
    height: calc(100vh - 70px - 80px);
    margin-bottom: -45px;
    overflow-y: scroll;
}

.main-container::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(48, 48, 48);
}
   
.main-container::-webkit-scrollbar-thumb {
    background-color: rgb(78, 78, 78);
    border-radius: 4px;
}

.main-container::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 128, 128);
}
