.header{
    overflow: hidden;
    background-color: rgb(34, 34, 34);
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    height: 70px;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Bunaepro;
    color:ghostwhite;
}

.header .left-part{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.header-logo{
    cursor: pointer;
    margin-left: 15px;
}

.profile-logo{
    cursor: pointer;
    margin-right: 15px;
}

.profile-logo > i:hover{
    background-color: #9c81ec;
}

.profile-logo > i{
    padding: 15px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    background-color: #8c66ff;
    text-align: center;
    border-radius: 50%;
}

.middle-part,
.right-part,
.left-part{
    display: flex;
}

.header .search-bar{
    display: flex;
}

.mic-button{
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin-left: 5px;
}

.bell{
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-right: 10px;
}

.bell i{
    padding: 10px;
    font-size: 30px;
}

.bell i:hover{
    color: rgb(177, 177, 177);
}

.mic-button:hover{
    color: rgb(177, 177, 177);
}

.mic-button i{
    padding: 3px;
    font-size: 30px;
}

.search-bar input[type=search]{
    padding: 10px;
    height: 35px;
    border-style: none;
    width: 30vw;
}

.search-bar button{
    height: 35px;
    width: 35px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.search-bar button:hover{
    background-color: rgb(199, 199, 199);
}

.header-text{
    font-size: 45px;
    margin-left: 15px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.submenu {
    position:absolute;
    top: 60px;
    right: 10px;
    background-color: rgb(70, 70, 70);
    width: 120px;
    z-index: 110;
    visibility: hidden;
    opacity: 0;
}

.submenu div{
    padding: 5px;
    height: 35px;
    border-bottom: 1px solid rgb(49, 49, 49);
}

.submenu div:last-child{
    border: none;
}   

.submenu div:hover{
    background-color: rgb(107, 107, 107);
}

.log-out-button{
    color: rgb(238, 48, 48);
}

.profile-logo:hover .submenu{
    opacity: 1;
    visibility: visible;
}


@media all and (max-width: 700px) {
    .header-text{
        display: none;
    }
}