.sidebar{
    position: relative;
    width: 300px;
    height: 100%;
    z-index: 90;
    box-shadow: 0px 0 15px rgba(0,0,0,0.5);
}

.sidebar-streamers::-webkit-scrollbar {
    width: 4px;
}
   
.sidebar-streamers::-webkit-scrollbar-thumb {
    background-color: rgb(78, 78, 78);
}

.sidebar-streamers::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 128, 128);
}

.sidenav-container{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(41, 41, 41);
}

.sidebar-streamers{
    width: 100%;
    overflow-y:auto;
}

.sidebar-streamers a:hover{
    background-color: rgb(54, 54, 54);
}

.sidebar-streamers a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: rgb(221, 221, 221);
    font-family: Bunaepro;
    font-size: 20px;
    padding: 15px;
}


.sidebar-streamers img{
    height: 50px;
    border-radius: 50%;
}

.sidenav-avatar{
    display: flex;
    align-items: center;
}

.sidenav-avatar span{
    display: block;
    margin-left: 10px;
    width: 130px;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sidenav-avatar span:hover{
    color:darkviolet;;
}

.viewers{
    display: flex;
    align-items: center;
}

.blob {
	background: rgb(219, 12, 12);
	border-radius: 50%;
	margin: 8px;
	height: 8px;
	width: 8px;

	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(196, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(197, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(185, 0, 0, 0);
	}
}

.info-block{
    display: grid;
    border: black 1px solid;
    grid-template-columns: 90px 1fr 90px;
    grid-template-rows: repeat(2, 80px);
    justify-content: center;
    color: rgb(221, 221, 221);
    font-family: Bunaepro;
    font-size: 20px;
    align-items: center;
}

.info-block span{
    grid-column: 1/-1;
}

.info-block span::selection {
    color: rgb(0, 0, 0);
    background-color:darkviolet;
}

.info-block{
    text-align: center;
}

.info-block i{
    font-size: 30px;
}

.telegram-button i:hover,
.instagram-button i:hover,
.facebook-button i:hover{
    cursor: pointer;
    color: darkviolet;
}

@media all and (max-width: 1200px) {
    .viewers{
        display: none;
    }
    .sidenav-avatar > span{
        display: none;
    }

    .sidenav-avatar{
        margin-left: auto;
        margin-right: auto;
    }

    .sidebar{
        width: 100px;
    }

    .info-block{
        display: none;
    }
}
