.videos{
    min-height: calc(100% - 60px);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 380px);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    justify-content: center;
}
