.videos{
    width: 100%;
}

.video-container{
    display: block;
    height: 270px;
    width: 380px;
}

.video-preview{
    height: 210px;
    position: relative;
}

.video-preview img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.preview-info{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition: background-color 0.2s linear;
}

.preview-info > .play-button{
    position: absolute;
    color: rgb(233, 233, 233);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.preview-info:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.preview-info:hover .play-button{
    opacity: 1;
    visibility: visible;
}

.preview-info{
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.preview-info > .viewers-info,
.preview-info > .duration-info,
.preview-info > .live-info
{
    position: absolute;
    font-family: Bunaepro;
    font-size: 14px;
    width: fit-content;
    padding: 1px 4px;
    margin: 2px;
    border-radius: 3px;
}

.preview-info > div:hover{
    cursor: pointer;
}

.preview-info > .live-info{
    top: 0;
    left: 0;
    background-color: red;
    color: white;
}

.preview-info > .viewers-info,
.preview-info > .duration-info
{
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
}

.video-description {
    height: 60px;
    display: grid;
    grid-template-columns: 60px auto 15px;
    grid-template-rows: 33px 27px;
    align-items: center;
}

.video-description > img{
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    border-radius: 50%;
}

.video-description > div{
    font-family: Bunaepro;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline;
}

.video-description > .video-name{
    color: rgb(233, 233, 233);
    font-size: 18px;
    grid-row: 1;
    align-self:end;
}

.video-description > .author-name{
    color: rgb(165, 165, 165);
    font-size: 15px;
    grid-row: 2;
    align-self:start;
}

.video-description i{
    font-size: 22px;
    color: rgb(233, 233, 233);
    margin-left: auto;
    margin-right: auto;
}

.video-description i:hover{
    color: rgb(172, 172, 172);
    cursor: pointer;
}

.video-name span:hover{
    color: rgb(145, 107, 140);
    cursor: pointer;
}

.author-name span:hover{
    color: rgb(211, 182, 206);
    cursor: pointer;
}
